<ng-template #editNg let-data="adtData" let-emitter="captureEvents">
    <app-dt-edit-button [data]="data" (emitter)="emitter($event)"></app-dt-edit-button>
</ng-template>

<ng-template #removeNg let-data="adtData" let-emitter="captureEvents">
    <app-dt-delete-button [data]="data" (emitter)="emitter($event)"></app-dt-delete-button>
</ng-template>

<ng-template #addNg let-data="adtData" let-emitter="captureEvents">
    <app-dt-add-button [data]="data" (emitter)="emitter($event)"></app-dt-add-button>
</ng-template>

<div class="card" style="padding-top: 1em;">
    <div class="card-body">
        @if (hasData) {
            <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
        }
    </div>
</div>